body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 70px;
  margin-top: 5%;
}

p {
  font-size: 18px;
}

section {
  margin-top: 5%;
}

ul {
  padding-top: 10px;
  padding-bottom:10px;
}

.caption {
  color: grey;
  display: block;
  text-align: center;
  padding-top: 10px;
}

footer {
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn-outline-info {
  border-color: #5ea3d1;
  margin-right: 1%;
  color: #5ea3d1;
  border-radius: 8;
}

.btn-outline-info:hover {
  border-color: #5ea3d1;
  background-color: #5ea3d1;
}

.btn-light {
  margin-bottom: 1%;
  margin-right: 1%;
  font-size: 15px;
  border-color: #F6F0ED;
  background-color: white;
  border-radius: 8;
}

.btn-light:hover {
  background-color: none;
  border-color: #F6F0ED;
}

.container-1 {
  display: block;
  width: 100vw;
  height: 100vh;
}

.introduction {
  padding-left: 10%;
  padding-top: 18%;
  padding-right: 0;
}

.contact-me {
  margin-top: 5%;
}

#linkedin {
  width: 30px;
  margin-left: 3%;
}

#gmail {
  width: 40px;
  margin-left: 3%;
}

#github {
  width: 35px;
  margin-left: 3%;
}

/*Heart Animation*/

.pho-animation-wrapper {
  z-index: -99;
  position: absolute;
  right: 5%;
  top: 35%;
  padding: 0;
}

.pho {
  position: absolute;
  width: 70%;
  right: 10%;
}

.dancing-icon {
  position: absolute;
  left: 70%;
  top: 44%;
}

.heart {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1;
  animation: 2.5s ease-in-out hearts normal infinite;
}

.heart:nth-child(1) {
  left: 5%;
  animation-delay: 0.5s;
}

.heart:nth-child(2) {
  left: 25px;
}

.heart:nth-child(3) {
  left: 45px;
  animation-delay: 1s;
}

@keyframes hearts {
  0% {
    transform: rotate(20deg);
    opacity: 0;
  }

  50% {
    transform: rotate(-20deg);
    opacity: 1;
  }

  100% {
    transform: rotate(20deg);
    opacity: 0;
    top: -150px;
  }
}

/*Steam Animation*/

.vapour {
  position: absolute;
  left: 25%;
  top: 38%;
  display: flex;

}

.vapour span {
  display: block;
  margin: 0 5px 10px;
  min-width: 6px;
  height: 100px;
  background-color: #bec8d1;
  border-radius: 70%;
  animation: animate 8s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.6s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    transform: translateY(-100px) scaleX(5);
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translateY(-250px) scaleX(10);
  }
}

.container-2 {
  background-color: #5ea3d1;
}

.profile-picture {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
}

.personal-statement {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
  margin: 0;
  color: white;
}

.container-3 {
  background-color: white;
}

.hobbies {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.hobbies-description {
  text-align: center;
  padding-bottom: 10%;
  color: black;
  margin: 0;
}

.hobbies img {
  width: 10%;
  height: 10%;
}

.container-4 {
  background-color: #f6f0ed;
  width: 100%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.align-cards {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border-radius: 8px;
  padding: 7px;
}

.card-heading {
  margin-left: 2%;
  font-weight: bold;
}

#video {
  display: none;
  width: 70%;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Scroll to top button*/

#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 8;
}

.fundraising-pictures {
  padding: 5%;
  display: flex;
  justify-content: center;
}

#img-fundraising-1, #img-fundraising-2 {
  margin-right: 2%;
}

@media screen and (max-width: 767px) {
  .container-4 {
    padding-right: 20px;
    padding-left: 20px;
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    margin-top: 30px;
  }
  .introduction {
    padding-right: 5%;
  }
  .pho-animation-wrapper {
    z-index: -99;
    width: 90%;
    position: absolute;
    right: 5%;
    top: 65%;
    padding: 0;
  }
  .hobbies {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }
  .hobbies img {
    width: 30%;
    height: 30%;
  }
  #video {
    display: none;
    width: 100%;
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #img-fundraising-1, #img-fundraising-2, #img-fundraising-3 {
    width: 33%;
  }
  #img-book-1, #img-book-2, #img-book-3 {
    width: 100%;
  }
}
